<fieldset>
    <legend>Sélectionner un fichier de l'application MaClasse pour en charger les données.</legend>

    <!-- Selecteur de fichier de données -->
    <!-- L'input FILE est en dehors du mat-form-field car Material ne les supporte pas-->
    <button type="button" mat-icon-button (click)="inputFichierLocal.click()" matTooltip="Sélectionner un fichier" aria-label="Sélectionner un fichier en cliquant sur ce bouton">
        <fa-icon icon="file-upload"></fa-icon>
    </button>
    <input hidden type="file" #inputFichierLocal (change)="onSelectFichierLocal($event)">

    <!-- Bouton de validation-->
    <button mat-stroked-button (click)="onClickValiderChargementFichierLocal(inputFichierLocal)">Charger le fichier {{nomFichierLocal}}</button>
</fieldset>