<!-- Sélection d'un élève -->
@if (eleves){
<fieldset>
    <legend>Sélection d'un élève de la classe</legend>

    <mat-chip-listbox aria-label="Sélection d'un élève" [selectable]="true">
        @for (eleve of eleves; track eleve.id) {
        <mat-chip-option (click)="onSelectionEleve(eleve)">{{eleve.nom}} {{eleve.prenom}}</mat-chip-option>
        }
    </mat-chip-listbox>
</fieldset>
}
@else {
<p>Vous ne devriez pas tenter d'accéder à cette onglet de l'application sans avoir chargé de données au préalable. Vérifiez votre lien ou votre favori pour en retirer tout ce qui suit le caractère #.
</p>
<p>Vous êtes invité à cliquer sur l'onglet <b>Charger mon année</b></p>
}

@if (eleveSelectionne){
<!-- Formulaire - données élève -->
<fieldset>
    <legend>Elève sélectionné : {{eleveSelectionne.nom}} {{eleveSelectionne.prenom}}</legend>

    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput type="text" required #inputNom="ngModel" name="nom" [(ngModel)]="eleveSelectionne.nom">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput type="text" required #inputPrenom="ngModel" name="prenom" [(ngModel)]="eleveSelectionne.prenom">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date de naissance (dd/mm/yyyy)</mat-label>
        <input matInput [matDatepicker]="pickerDateNaissance" #inputDateNaissance="ngModel" [(ngModel)]="eleveSelectionne.dateNaissance">
        <mat-datepicker-toggle matIconSuffix [for]="pickerDateNaissance"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateNaissance></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date d'admission (dd/mm/yyyy)</mat-label>
        <input matInput [matDatepicker]="pickerDateAdmission" #inputDate="ngModel" [(ngModel)]="eleveSelectionne.dateAdmission">
        <mat-datepicker-toggle matIconSuffix [for]="pickerDateAdmission"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateAdmission></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Statut</mat-label>
        <mat-select #inputStatutEleve="ngModel" [(ngModel)]="eleveSelectionne.statut" placeholder="Statut" name="statut">
            @for (entry of mapLibelleStatutEleve | keyvalue ; track entry) {
            <mat-option [value]="entry.key">{{entry.value}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</fieldset>

<!-- Formulaire - contacts -->
<fieldset>
    <legend>Contacts <em class="fa fa-plus" (click)="ajouterUnContact()"></em></legend>
    @for (contact of eleveSelectionne.contacts ; track contact.id) {
    <fieldset>
        <legend>{{contact.nom}} </legend>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="contact.type" placeholder="Type" name="type">
                @for (entry of mapTypeContact | keyvalue ; track entry) {
                <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput name="nom" [(ngModel)]="contact.nom">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" [(ngModel)]="contact.email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Téléphone</mat-label>
            <input matInput type="telephone" name="telephone" [(ngModel)]="contact.telephone">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse postale</mat-label>
            <input matInput type="adressePostale" name="adressePostale" [(ngModel)]="contact.adressePostale">
        </mat-form-field>
    </fieldset>
    }
</fieldset>

<!-- Formulaire - dates de bilan -->
<fieldset>
    <legend>Date de bilans (PPI, dates rencontres parents et ESS)</legend>
    <mat-form-field>
        <mat-label>Date PPA</mat-label>
        <textarea matInput [(ngModel)]="eleveSelectionne.datesPPA" name="datesPPA" placeholder="dates PPA" rows="6"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date PaP</mat-label>
        <textarea matInput [(ngModel)]="eleveSelectionne.datesPAP" name="datesPAP" placeholder="dates PAP" rows="6"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date ESS</mat-label>
        <textarea matInput [(ngModel)]="eleveSelectionne.datesESS" name="datesESS" placeholder="dates ESS" rows="6"></textarea>
    </mat-form-field>
</fieldset>

<!-- Formulaire - inclusions -->
<fieldset>
    <legend>Inclusion mise en place</legend>
    <mat-form-field>
        <mat-label>Nom de l'école</mat-label>
        <input matInput type="text" name="ecoleNom" [(ngModel)]="eleveSelectionne.inclusion.ecoleNom">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Adresse de l'école</mat-label>
        <input matInput type="text" name="ecoleAdresse" [(ngModel)]="eleveSelectionne.inclusion.ecoleAdresse">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nom du contact</mat-label>
        <input matInput type="text" name="nomContact" [(ngModel)]="eleveSelectionne.inclusion.nomContact">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email du contact</mat-label>
        <input matInput type="text" name="emailContact" [(ngModel)]="eleveSelectionne.inclusion.emailContact">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Téléphone du contact</mat-label>
        <input matInput type="text" name="telContact" [(ngModel)]="eleveSelectionne.inclusion.telContact">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Classe</mat-label>
        <input matInput type="text" name="niveau" [(ngModel)]="eleveSelectionne.inclusion.niveau">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enseignant(s)</mat-label>
        <input matInput type="text" name="enseignant" [(ngModel)]="eleveSelectionne.inclusion.enseignant">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Téléphone Enseignant</mat-label>
        <input matInput type="text" name="telephoneEnseignant" [(ngModel)]="eleveSelectionne.inclusion.telephoneEnseignant">
    </mat-form-field>
</fieldset>

<!-- Formulaire - inclusions -->
<fieldset>
    <legend>Temps d'accompagnement et d'inclusion <em class="fa fa-plus" (click)="ajouterUneAbsence()"></em></legend>
    @for (absence of eleveSelectionne.absences ; track absence.id ; let idx = $index) {
    <fieldset>
        <legend>N°{{idx}}</legend>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select #inputStatut="ngModel" [(ngModel)]="absence.raison" placeholder="Type" name="raison">
                @for (entry of mapRaisonAbsence | keyvalue ; track entry) {
                <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jour</mat-label>
            <mat-select #inputJour="ngModel" [(ngModel)]="absence.jour" placeholder="Jour" name="jour">
                @for (entry of joursDeLaSemaine | keyvalue ; track entry) {
                <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fréquence {{absence.frequence}}</mat-label>
            <mat-select #inputFrequence="ngModel" [(ngModel)]="absence.frequence" placeholder="Fréquence" name="frequence">
                <mat-option value="2">Chaque semaine</mat-option>
                <mat-option value="0">Semaine paire</mat-option>
                <mat-option value="1">Semaine impaire</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Début</mat-label>
            <mat-select #inputDebut="ngModel" [(ngModel)]="absence.heureDebut" name="debut">
                @for (t of tempsDisponibles ; track t) {
                <mat-option [value]="t">{{t}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fin</mat-label>
            <mat-select #inputFin="ngModel" [(ngModel)]="absence.heureFin" name="fin">
                @for (t of tempsDisponibles ; track t) {
                <mat-option [value]="t">{{t}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </fieldset>
    }
</fieldset>

<!-- Formulaire - Cursus scolaire -->
<fieldset>
    <legend>Cursus scolaire</legend>
    <mat-grid-list cols="12" rowHeight="80px">
        <!-- Entête -->
        <mat-grid-tile colspan="3">Niveau</mat-grid-tile>
        <mat-grid-tile colspan="4">Etablissement</mat-grid-tile>
        <mat-grid-tile colspan="4">Accompagnement</mat-grid-tile>
        <mat-grid-tile><em class="fa fa-plus" matTooltip="Ajouter une ligne dans le cursus" (click)="ajouterCursus()"></em></mat-grid-tile>

        <!-- Pour chaque lignes -->
        @for (cur of eleveSelectionne.cursus ; track cur.id ; let idx = $index) {
        <mat-grid-tile colspan="3">
            <mat-form-field class="maclasse-pleinelargeur">
                <mat-label>Niveau en 09/{{cur.annee}}</mat-label>
                <input matInput name="niveau-{{idx}}" [(ngModel)]="cur.niveau">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <mat-form-field class="maclasse-pleinelargeur">
                <mat-label>Etablissement en 09/{{cur.annee}}</mat-label>
                <input matInput name="etablissement-{{idx}}" [(ngModel)]="cur.etablissement">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <mat-form-field class="maclasse-pleinelargeur">
                <mat-label>Accompagnement en 09/{{cur.annee}}</mat-label>
                <input matInput name="accompagnement-{{idx}}" [(ngModel)]="cur.accompagnement">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <em class="fa fa-remove" matTooltip="Supprimer cette ligne du cursus" (click)="retirerCursus(cur)"></em>
        </mat-grid-tile>
        }
    </mat-grid-list>
</fieldset>


<!-- Formulaire - Bilans -->
<fieldset>
    <legend>Bilans</legend>
    <angular-editor placeholder="Bilans de cet élève" name="bilans" [(ngModel)]="eleveSelectionne.bilans"></angular-editor>
</fieldset>
}

<br />