// Pour importer les CSS du WYSIWYG
@import '@wfpena/angular-wysiwyg/';

// CSS par défaut d'Angular
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Revu des tailles de titre - H1
h1.maclasse-h1 {
    font-size: 2em;
}

// Revu des tailles de titre - H2
h2.maclasse-h2 {
    font-size: 1.5em;
}

// Revu des tailles de titre - H3
h3.maclasse-h3 {
    font-size: 1.2em;
}

// Pour des champs de saisie pleine largeur
mat-form-field.maclasse-pleinelargeur {
    width: 100%;
}

// Pour des champs de saisie de largeur réduite
mat-form-field.maclasse-petitelargeur {
    width: 100px;
}