@if (donneesChargees) {
@for (c of competencesSelectionnees ; track c.id; let premier = $first; let dernier = $last) {
@if (!premier && !affichageMinimal) {
<span class="maclasse-separateur">></span>
}
@if(!affichageMinimal || dernier){
<span>{{c.text}}</span>
}
}
<button type="button" mat-icon-button class="maclasse-bouton16 maclasse-petiteicone" [cdkCopyToClipboard]="recupererLibelleComplet()" matTooltip="Copier le libellé complet"
    aria-label="Copier le libellé complet">
    <fa-icon icon="copy"></fa-icon>
</button>
}