// Pour que l'entête fasse la hauteur de l'image
div.maclasse-entete {
    height: 90px;
}

// Pour centrer le titre de l'application
h1.maclasse-titreApplication {
    text-align: center;
    line-height: 90px;
}