@if (periodes.length>0 && eleves.length>0) {
<fieldset class="maclasse-masquerEnModePrint maclasse-filtres">
    <legend>Sélection des filtres</legend>
    <mat-form-field>
        <mat-label>Mode d'affichage</mat-label>
        <mat-select placeholder="Mode d'affichage" [(ngModel)]="modeAffichage" (selectionChange)="onChangementFiltre()">
            <mat-option value=1>Mode préparation</mat-option>
            <mat-option value=2>Mode évaluation</mat-option>
            <mat-option value=3>Mode complet</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        @if (modeAffichage==1){
        <mat-label>Période à préparer</mat-label>
        }@else if (modeAffichage==2 || modeAffichage==3){
        <mat-label>Période à évaluer</mat-label>
        }
        <mat-select placeholder="Période" [(ngModel)]="periodeSelectionnee" (selectionChange)="onChangementFiltre()">
            @for (p of periodes ; track p.id) {
            <mat-option [value]="p">{{p.nom}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Elève</mat-label>
        <mat-select placeholder="Eleve" [(ngModel)]="eleveSelectionne" (selectionChange)="onChangementFiltre()">
            @for (e of eleves ; track e.id) {
            <mat-option [value]="e">{{e.prenom}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</fieldset>
}
@else {
<p>Vous ne devriez pas tenter d'accéder à cette onglet de l'application sans avoir chargé de données au préalable. Vérifiez votre lien ou votre favori pour en retirer tout ce qui suit le caractère #.
</p>
<p>Vous êtes invité à cliquer sur l'onglet <b>Charger mon année</b></p>
}


@if (lignes && eleveSelectionne && periodeSelectionnee) {
<fieldset class="maclasse-formulaire maclasse-couperEnModePrint">
    <legend>
        <span>Tableau de bord de l'élève {{eleveSelectionne.prenom}} </span>
        @if (modeAffichage==1) {
        <span>pour préparer la période {{periodes.indexOf(periodeSelectionnee)+1}}</span>
        } @else if (modeAffichage==2 || modeAffichage==3) {
        <span>pour évaluer la période {{periodes.indexOf(periodeSelectionnee)+1}}</span>
        }
        @if (modeAffichage==3) {
        <span> et préparer la période suivante</span>
        }
    </legend>
    <div>

        @for (ligne of lignes ; track ligne.id ; let idx = $index) {
        <fieldset class="maclasse-formulaire">
            <legend>
                <span>{{ligne.libelleCompetenceParente}}</span>
                @if (indexEnEdition==idx) {
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="indexEnEdition=undefined" matTooltip="Terminer la saisie" aria-label="Terminer la saisie">
                    <fa-icon icon="check"></fa-icon>
                </button>
                }@else {
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="indexEnEdition=idx" matTooltip="Editer cette ligne" aria-label="Editer cette ligne">
                    <fa-icon icon="pencil" size="xs"></fa-icon>
                </button>
                }
            </legend>
            <div class="maclasse-table">
                <div class="maclasse-table-ligne maclasse-table-entete">
                    <div class="maclasse-table-case" [class.maclasse-table-case-w85]="modeAffichage==1" [class.maclasse-table-case-w55]="modeAffichage==2"
                        [class.maclasse-table-case-w40]="modeAffichage==3"></div>
                    @if (modeAffichage!=1){
                    <div class="maclasse-table-case maclasse-table-case-w45">Période évaluée</div>
                    }
                    @if (modeAffichage!=2){
                    <div class="maclasse-table-case maclasse-table-case-w15">Période préparée</div>
                    }
                </div>
                <div class="maclasse-table-ligne maclasse-table-entete">
                    <div class="maclasse-table-case" [class.maclasse-table-case-w85]="modeAffichage==1" [class.maclasse-table-case-w55]="modeAffichage==2"
                        [class.maclasse-table-case-w40]="modeAffichage==3">Compétence</div>
                    @if (modeAffichage!=1){
                    <div class="maclasse-table-case maclasse-table-case-w15">Aquisition</div>
                    <div class="maclasse-table-case maclasse-table-case-w15">Commentaires publiés</div>
                    <div class="maclasse-table-case maclasse-table-case-w15">Notes de travail</div>
                    }
                    @if (modeAffichage!=2){
                    <div class="maclasse-table-case maclasse-table-case-w15">Constats/outils</div>
                    }
                </div>
                @for (sousLigne of ligne.sousLignes ; track sousLigne.id ; let idy = $index) {
                <div class="maclasse-table-ligne">
                    <div class="maclasse-table-case" [class.maclasse-table-case-w85]="modeAffichage==1" [class.maclasse-table-case-w55]="modeAffichage==2"
                        [class.maclasse-table-case-w40]="modeAffichage==3">
                        <p>{{sousLigne.libelleCompetence}}</p>
                    </div>
                    @if (modeAffichage!=1){
                    <div class="maclasse-table-case maclasse-table-case-w15">
                        @if (indexEnEdition==idx) {
                        }@else {
                        <p>{{(sousLigne.notePeriodePrecedente && sousLigne.notePeriodePrecedente.valeurEvaluation)?mapLibelleNotes[sousLigne.notePeriodePrecedente.valeurEvaluation]:''}}</p>
                        }
                    </div>
                    <div class="maclasse-table-case maclasse-table-case-w15">
                        @if (indexEnEdition==idx) {
                        }@else {
                        <p>{{sousLigne.notePeriodePrecedente?.commentaireEvaluationPublic}}</p>
                        }
                    </div>
                    <div class="maclasse-table-case maclasse-table-case-w15">
                        @if (indexEnEdition==idx) {
                        }@else {
                        <p>{{sousLigne.notePeriodePrecedente?.commentaireEvaluationPrive}}</p>
                        }
                    </div>
                    }
                    @if (modeAffichage!=2){
                    <div class="maclasse-table-case maclasse-table-case-w15">
                        @if (indexEnEdition==idx) {
                        }@else {
                        <p>{{sousLigne.notePeriodeSuivante?.constatEnPreparation}}</p>
                        }
                    </div>
                    }
                </div>
                }
            </div>
        </fieldset>
        }

    </div>
</fieldset>
}