<h2 class="maclasse-h2">Bonjour et bienvenu dans l'application de gestion de votre classe.</h2>

<p>Si vous accédez à cette application pour la première fois, voici quelques informations utiles : </p>

<ul>
    <li>L'aide est disponible, à tout moment, en cliquant sur le bouton <fa-icon icon="question-circle" matTooltip="exemple" mat-button></fa-icon> présent en haut à droite de cet écran.</li>
    <li>Quand aucune donnée de classe n'est chargée, est disponible un onglet <b>Créer mon année</b>.</li>
    <li>Si vous avez déjà créé une année et que vous souhaitez charger les données précédemment renseignées, utiliser l'onglet <b>Charger mon année</b> pour reprendre votre travail.</li>
</ul>