<div>

  <!-- Entete -->
  <div div-entete>
  </div>

  <!-- Sous l'entête, un sideNav avec le contenu au milieu et l'aide sur le côté-->
  <mat-sidenav-container>

    <!-- Ouverture de l'aide-->
    <div class="afficherAide">
      <em class="fa fa-question-circle" matTooltip="Afficher l'aide" mat-button (click)="sidenav.open()"></em>
    </div>

    <!-- L'aide sur le côté -->
    <mat-sidenav #sidenav autoFocus="true" position="end">
      <!-- Fermeture de l'aide-->
      <div class="afficherAide">
        <em class="fa fa-question-circle" matTooltip="Masquer l'aide" mat-button (click)="sidenav.close()"></em>
      </div>

      <!-- Div d'aide-->
      <div div-aide></div>
    </mat-sidenav>

    <!-- Le contenu en milieu de page-->
    <div div-message></div>

    <!-- Le contenu en milieu de page-->
    <div div-contenu></div>

  </mat-sidenav-container>
</div>